* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Monoton', cursive;
    background-image: url("./IMG/Papel/papel_curso.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: hsla(30, 100%, 50%, 0.6);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
    font-size: 20px;
}
.imgLogo {
    width: 100px;
    height: auto;
}
.nav-links-desktop {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links-desktop li a {
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
}
.nav-links-desktop li a:hover {
    color: #9e00d8;
}
.hamburger {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
.mobile-menu {
    display: none;
    position: fixed;
    top: 30px;
    right: 0;
    width: 40%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.mobile-menu.active {
    display: flex;
}
.nav-links-mobile {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-top: 50px;
}
.nav-links-mobile a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
.close {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.footer {
    background-color: #b27100;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
@media (max-width: 768px) {
    .nav-links-desktop {
        display: none;
    }
    .hamburger {
        display: block;
    }
}
.banner {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 25px;
    font-weight: bold;
    animation: fadeIn 2s infinite alternate;
}
.carro_container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.card_curso {
    background: #fad997;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 360px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_curso {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.course-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.style-button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}
.style-button:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(191, 5, 238, 0.9);
    background-color:#9e06ea;
}
button.anterior, button.proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
}
.anterior { left: 10px; }
.proximo { right: 10px; }
@keyframes fadeIn {
    from { opacity: 0.3; }
    to { opacity: 1; }
}
